<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>controleur.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>connexion.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>connexion.DeconnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdmin</servlet-name>
        <servlet-class>controleur.ServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClient</servlet-name>
        <servlet-class>controleur.ServletClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerEditerCompte</servlet-name>
        <servlet-class>creation.CreerEditerCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerEditerProduit</servlet-name>
        <servlet-class>creation.CreerEditerProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerEditerCommande</servlet-name>
        <servlet-class>creation.CreerEditerCommande</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/DeconnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerEditerProduit</servlet-name>
        <url-pattern>/CreerEditerProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerEditerCompte</servlet-name>
        <url-pattern>/CreerEditerCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdmin</servlet-name>
        <url-pattern>/voirProduit</url-pattern>
        <url-pattern>/modifierA</url-pattern>
        <url-pattern>/ServletAdmin</url-pattern>
        <url-pattern>/voirCommande</url-pattern>
        <url-pattern>/modifierCl</url-pattern>
        <url-pattern>/voirAdmin</url-pattern>
        <url-pattern>/paginationAdmin</url-pattern>
        <url-pattern>/voirClient</url-pattern>
        <url-pattern>/modifierP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient</url-pattern>
        <url-pattern>/modifierC</url-pattern>
        <url-pattern>/pagination</url-pattern>
        <url-pattern>/detailCommande</url-pattern>
        <url-pattern>/voirCommandes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerEditerCommande</servlet-name>
        <url-pattern>/CreerEditerCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerEditerCommande</servlet-name>
        <url-pattern>/supprimerCo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/categorie</url-pattern>
        <url-pattern>/paiement</url-pattern>
        <url-pattern>/ServletPrincipal</url-pattern>
        <url-pattern>/addToCart</url-pattern>
        <url-pattern>/creerClient</url-pattern>
        <url-pattern>/updateCart</url-pattern>
        <url-pattern>/information</url-pattern>
        <url-pattern>/panier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
    </jsp-config>
</web-app>
